$grey_color: #f5f2eb;
$desktop_page_width: 50%;
$mobile_page_width: 95%;
$border_radius: 5px;
$primary_font_family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$desktop_width: 1200px;

body {
  margin: 0;
  font-family: $primary_font_family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 30px;
}

hr {
  border-bottom-color: darken($grey_color, 35%);
  border-top: none;
}

.container {
  width: $mobile_page_width;
  margin: 0 auto;
  @media only screen and (min-width: $desktop_width) {
    width: $desktop_page_width;
  }
}

.new_note {
  padding: 8px 0px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: $border_radius;
  margin-bottom: 20px;
  color: darken($grey_color, 60%);
  text-align: center;
  &:hover {
    background-color: $grey_color;
  }
}

.note {
  textarea {
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    min-height: 50px;
    border: none;
    outline: none;
    padding: 10px;
    font-family: $primary_font_family;
    border-radius: $border_radius;
    transition: background-color 0.3s;
    font-size: 14px;

    &:hover,
    &:focus {
      background-color: $grey_color;
    }
  }
  span {
    opacity: 0;
    float: right;
    position: relative;
    left: 30px;
    top: 28px;
    transition: opacity 0.4s;
    color: darken($grey_color, 60%);
    font-size: 20px;
    border-radius: $border_radius;
    padding: 0px 3px 1px;
    margin: 0;
    cursor: pointer;
    &:hover {
      background-color: $grey_color;
    }
  }
  &:hover {
    span {
      opacity: 1;
    }
  }
}
